* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #eff5ff;
}
.mainContainer {
  height: 70vh;
  width: 60vw;
  display: flex;
  margin: auto;
  margin-top: 15vh;
  background-color: white;
  border-radius: 10px;
}

.sidebar {
  position: relative;
  margin: 20px 0 20px 20px;
}

.sidebar img {
  height: 100%;
}

.sidebar ol {
  position: absolute;
  top: 50px;
  left: 30px;
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.sideNumber {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  color: white;
  font-weight: 400;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #abbcff;
}

.sideBarLiText {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

.aligDetails {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.detailsContainer {
  position: relative;
  display: flex;
  width: 60%;
  margin: 50px 0;
}

.personalInfo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.topText {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #022959;
  margin-bottom: 10px;
}

.underText {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #9699aa;
}

.inputTopText {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #022959;
  margin-bottom: 10px;
  margin-top: 7px;
}

.personalInfo input {
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #9699aa;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d6d9e6;
  border-radius: 8px;
}

.addOnLeft {
  display: flex;
  gap: 30px;
}

.addOnLeft > * {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nextBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #022959;
  border-radius: 8px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding: 15px 25px;
  cursor: pointer;
}

/* SECOND PAGE */

.planSelect {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.planCards img {
  height: 40px;
}

.planCards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.planName {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #022959;
}

.planPrice {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #9699aa;
}

.planCards div {
  box-sizing: border-box;
  width: 138px;
  height: 160px;
  left: 952px;
  top: 269px;
  background: #ffffff;
  border: 1px solid #d6d9e6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: baseline;
  padding-left: 20px;
  padding-top: 20px;
  cursor: pointer;
}

.planCards div img {
  margin-bottom: 20px;
}

.planCards div:hover {
  background: #f8f9ff;

  border: 1px solid #483eff;
  border-radius: 8px;
}

.addOns {
  width: 100%;
}

/* BUTTONS */

.backBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  color: #9699aa;
  padding: 15px 25px;
}

.backBtn:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  /* Denim */

  color: #022959;
}

.switchDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #f8f9ff;
  border-radius: 8px;
  padding: 15px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* THE SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  border-radius: 50%;
}

.planSelect input:checked + .slider {
  background-color: #2196f3;
}

.planSelect input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.planSelect input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* THE SWITCH (end) */

/* ADD ONS */

.addOnList {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid #d6d9e6;
  border-radius: 8px;
  align-items: center;
  padding: 10px 20px;
  height: 60px;
  cursor: pointer;
}

.addOnList > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  text-align: right;

  /* Purple */

  color: #483eff;
}

.addOnList:hover {
  background: #f8f9ff;
  border: 1px solid #483eff;
  border-radius: 8px;
}

.planName {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #022959;
}
.planText {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9699aa;
}

.finishingUp {
  width: 100%;
}

.recap {
  display: flex;
  flex-direction: column;
}

.recap {
  background: #f8f9ff;
  border-radius: 8px;
  margin-top: 40px;
}

.planNameRecap {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #9699aa20;
  padding-bottom: 20px;
}
.planNameRecapName {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #022959;
}

.changeBtnRecap {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #9699aa;
  margin-top: 7px;
}

.priceRecap {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #022959;
}

.recap li {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9699aa;
}

.addOnPrice {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #022959;
}

.lastPart {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.total {
  font-size: 14px;
  line-height: 20px;
  color: #9699aa;
}

.lastPrice {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: right;
  color: #483eff;
}

.purchaseConfirmation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purchaseConfirmation p {
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  /* or 156% */

  text-align: center;

  /* Grey */

  color: #9699aa;
}

.purchaseConfirmation img {
  width: 80px;
}

.purchaseConfirmation h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;

  color: #022959;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* hide not active content */

.hide {
  display: none;
}

.numberActive {
  background-color: #bee2fd;
  border: 1px solid #bee2fd;
  color: black;
}

.cardActive {
  background: #f8f9ff;
  border: 1px solid #483eff;
  border-radius: 8px;
}
